<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <title>mvc-mysql</title>
  </head>
  <body>
    <form name="form-visitor">
      <fieldset>
        <legend>방명록 등록</legend>
        <input type="text" name="userName" placeholder="NAME" />
        <br />
        <input type="text" name="comment" placeholder="방명록" />
        <br />
        <button type="button" onclick="addVisitor()">등록좀돼라</button>
      </fieldset>
    </form>
    <div>
      <table border="1" cellspacing="0">
        <thead>
          <tr>
            <th>Id</th>
            <th>작성자</th>
            <th>방명록</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <%for (let i = 0; i < data.length; i++){ %>
          <tr>
            <td><%= data[i].id %></td>
            <td><%= data[i].userName %></td>
            <td><%= data[i].comment %></td>
            <td><button type="button" onclick="updateVisitor('<%= data[i].id %>', this.parentElement.parentElement)">Edit</button></td>
            <td><button type="button" onclick="deleteVisitor('<%= data[i].id %>', this.parentElement.parentElement)">Delete</button></td>
          </tr>
          <%}%>
        </tbody>
      </table>
    </div>
    
    <script>
      function addVisitor() {
        // 서버에 보낼 데이터를 만들어야함
        const form = document.forms["form-visitor"]
        const data = {
          userName: form.userName.value,
          comment: form.comment.value,
        }
        //axios를 이용해 데이터를 서버로 전송,
        axios({
          method: 'POST',
          url:'/visitor',
          data: data
        }).then((res)=>{
          console.log(res.data)
          const {id, userName, comment} = res.data;

          $("tbody").append(`
          <tr>
            <td>${id}</td>
            <td>${userName}</td>
            <td>${comment}</td>
            <td><button type="button" onclick="updateVisitor(${id}, this.parentElement.parentElement)">Edit</button></td>
            <td><button type="button" onclick="deleteVisitor(${id}, this.parentElement.parentElement)">Delete</button></td>
          </tr>`)
        })
      };

      function deleteVisitor(id, TrElement) {
        // 삭제할 id가 필요

        // id를 이용해서 url을 완성, 요청 보내기
        axios({
          method: 'delete',
          url: `/visitor/${id}`
        }).then((res) => {
          console.log(res.data);

          if (res.data.result) {
            // 삭제할 td 태그가 필요함.
            $(TrElement).remove();
          } else {
            alert("존재하지 않는 방명록 입니다.")
          }
        })
      };

        //axios 응답을 받으면, 
    </script>
  </body>
</html>