<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fileUpload</title>
  </head>
  <body>
    <div id="userInfo">
      <h4>Welcome:D, <%= userId %>!</h4>
      <img src="/<%= src %>" width="240px" height="300px" />
      <div>
        <p> Password: <%= userPw %></p>
        <p> Name: <%= name %></p>
        <p> NickName: <%= nickName %></p>
      </div>
    </div>
  </body>
</html>